pkgbase = packet-radio
	pkgdesc = Linux-native AGWPE/AX.25/KISS packet radio client
	pkgver = 0.1.0
	pkgrel = 3
	url = https://example.invalid/packet-radio
	install = packet-radio.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = pkgconf
	depends = gtk4
	depends = libadwaita
	depends = systemd-libs
	depends = hicolor-icon-theme
	depends = desktop-file-utils
	optdepends = direwolf: sound modem
	optdepends = linux-lts: native Linux AX.25 modem support
	options = !lto

pkgname = packet-radio
