[Desktop Entry]
Type=Application
Name=Pretty Good Packet Radio Client
GenericName=Packet Radio Client
Comment=AGWPE/AX.25/KISS packet radio client
Exec=pgprc
Icon=net.packetradio.PGPRC
Terminal=false
Categories=Network;X-HamRadio;
StartupWMClass=net.packetradio.PGPRC
